a,
a:hover {
  text-decoration: none;
  color: #6c757d;
}

#search-title {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  color: #80808f;
}

#input-keyword,
#input-keyword:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
}

#btn-keyword-group,
#btn-keyword-group:active {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

#keyword-box {
  padding: 5px;
}

.keyword {
  height: 32px;
  border: 1px solid black;
  padding: 0px 10px;
  margin: 0px 5px;
  border-radius: 12px;
  font-size: 1.1rem;
}

#search-img {
  font-size: 1.3rem;
  color: #80808f;
}

.news-item,
.news-item-selected {
  border-bottom: 1px solid #c5d7e6;
  padding: 9px 0px;
}

.news-item:last-child,
.news-item-selected:last-child {
  border-width: 0px;
}

.check-sitename,
.checked-sitename {
  display: inline-box;
}

.box-sitename {
  border-style: solid;
  border-width: 1px;
  border-bottom: 0;
  border-left: 0;
  border-top: 0;
  display: inline-block;
  width: 150px;
  color: #80808f;
  font-size: 1rem;
  font-weight: 400;
}
